@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html,
  body {
    font-family: 'NeoDunggeunmoPro-Regular', 'DungGeunMo', 'AppleSDGothicNeo',
      'Noto Sans KR', sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    @media screen and (min-width: 720px) {
      font-size: 22px;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* common Layout */
@layer components {
  .layout-screen-width {
    @apply mx-auto h-[100vh] overflow-y-auto;

    @screen mobile {
      width: theme('screens.mobile');
      max-width: theme('screens.mobile');
      padding: 0 20px 0;
      
    }

    @screen desktop {
      width: theme('screens.desktop');
      max-width: theme('screens.desktop');
      padding: 0 60px 0;
    }
  }

  .genre-selector-container {
    @apply grid grid-cols-3 gap-x-10 gap-y-16 desktop:p-20;
  }

  .genre-icon-size {
    @apply w-50 h-50;

    @screen mobile {
      width: 60px;
      height: 60px;
    }

    @screen desktop {
      width: 90px;
      height: 90px;
    }
  }
  
  .genre-icon-position {
    @apply absolute left-[50%] translate-x-[-50%];
    position: absolute;
    top: 30px;

    @screen mobile {
      top: 30px;
    }

    @screen desktop {
      position: absolute;
      top: 40px;
    }
  }

  .genre-text-size {
    @apply absolute left-[50%] translate-x-[-50%] whitespace-nowrap bottom-4;

    font-size: 16px;

    @screen mobile {
      bottom: 15px;
    }

    @screen desktop {
      font-size: 28px;
      bottom: 20px;
    }
  }
 
}

/* background & topbar */
.topbar {
  background: url('./assets/images/topBar.png') center / 724px no-repeat;
  height: 22.5px;
  z-index: 9999;
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.screen-bg {
  background: url('./assets/images/screenBgGreen.png') -10% top / 50% repeat;
  background-size: 100% 340px;
  height: 100vh;
  width: 100vw;
  flex: 0 0 auto;
  animation: textLoop 12s linear infinite;
}

.flow-wrap {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
